/* mobil responsive */
@media screen and (max-width: 576px) {
    .nav-section {
        flex-direction: column; 
        margin-left: 50%;
    }
    .nav-button {
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
    }
    .contact-icon {
        padding: 0;
        text-align: center;
    }
    .nav-button a {
        margin-top: 35px;
    }
    .banner-section{
        flex-direction: column;
    }
    .banner-img{
        width: 100%;
        margin-left: 0;
    }
    .banner-titel{
        padding-left: 50px;
        text-align: center;
    }
    .game-img-containar {
        flex-direction: column;
        margin: 0 10px;

    }
    .nav-section {
        margin-left: 0%;
    }
    .play-containar {
        flex-direction: column;
    }
    .play-taitel {
        text-align: center;
    }
    .play-pra{
        text-align: center;
    }
    .play-img-section{
        align-items: center;
    }
    .games-name{
        flex-direction: column-reverse;  
    }
    .games-name1{
        flex-direction: column-reverse;  
    }
    .pic-taitel{

    }
    .footer-section{
        background: #0b0223;
    }
    .banner-cointain {
        flex-direction: column;
      }
    .play-section {
        margin-left: 0px;
    }
    .play-img{
        width: 90%;
        margin-left: 20px;
    }
    .online-game-pra{
        text-align: center;
    }

}