* {
  margin: 0;
  /* font-family: Work Sans; */
  font-family: "Open Sans", sans-serif;
}
.nav-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-icon img {
  width: 50px;
}
.nav-icon h1 {
  font-size: 30px;
  color: #0b0223;
  font-size: 35px;
  font-weight: 800;
}
.samp-G {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-button a {
  text-decoration: none;
  margin-right: 15px;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}
.nav-button {
  display: flex;
  align-items: center;
}
.banner-section {
  display: flex;
  justify-content: space-around;
}
.banner-titel {
  align-items: center;
  background-image: url(./images/Group\ 14.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 250px;
}
.banner-img-scetion {
  /* position: relative; */
  padding-left: 50px;
}

.banner-img {
  width: 55%;
  margin-left: 120px;
}
.banner-fast-titl {
  color: #0b0223;
  font-size: 40px;
  font-weight: 600;
  margin-top: 50px;
}
.banner-secund-titel {
  font-size: 85px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-pra {
  color: #534c64;
  font-size: 15px;
  font-weight: 500;
}
.banner-btn1 {
  padding: 10px 20px;
  gap: 10px;
  border-radius: 48px;
  background: #ff42a5;
  margin-top: 10px;
  border: none;
}
.banner-btn2 {
  padding: 10px 20px;
  gap: 10px;
  border-radius: 48px;
  border-radius: 48px;
  background: #4ec5f7;
  border: none;
}

.online-game {
  text-align: center;
  margin-top: 50px;
}
.funny-video {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-game-titel {
  color: #0b0223;
  font-size: 42px;
  font-weight: 700;
}
.online-game-pra {
  color: #534c64;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 20px;
}
.game-img-containar {
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  margin: 0 200px;
}
.game-img img{
  width: 100%;
}
.watch-container{
  position: relative;
}
.watch-container:hover .watch{
display: flex;
}
.watch{
  position: absolute;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

.watch img{
  width: 35px;
  margin-right: 10px;
}

/* div img {
  width: 70%;
  margin: 0 auto;
} */
.play-containar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.play-section {
  margin-left: 200px;
}
.play-taitel {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0;
  text-align: right;
}
.play-pra {
  color: #534c64;
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 0;
  text-align: right;
}
.p {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-img {
  width: 60%;
  margin-top: 70px;
  margin-bottom: 50px;
}
.position {
  position: relative;
}
.position-img {
  width: 33%;
  position: absolute;
  top: -230px;
  left: -10%;
}
.games-name {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.pic-taitel {
  display: flex;
  align-items: center;
  border-radius: 20px;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
}
.pic {
  width: 40px;
}
.games-name1 {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 18px;
  margin-bottom: 90px;
}

.footer-section {
  background: #0b0223;
  padding-bottom: 100px;
}

.footer-icon img {
  width: 60px;
}
.footer-icon {
  text-align: center;
  padding-top: 80px;
}
.footer-icon {
  color: white;
  font-size: 25px;
}
.footer-title {
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 700;
  margin-left: 10px;
}
.banner-cointain {
  display: flex;
  /* grid-template-columns: repeat(2,1fr); */
  color: white;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}
.banner-cointain-taitle {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
.banner-cointain-taitle1 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
}
.footer-contain-icon {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.footer-end-icon img {
  width: 30px;
}
.end {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  margin-top: 30px;
}
.pic-taitel:hover {
  color: red;
  border-radius: 50px;
  background-color: rgb(244, 244, 99);
}
.contact-icon {
  display: flex;
  border-radius: 8px;
  padding: 2px 3px;
  text-align: center;
}
.contact-icon img {
  width: 20px;

}

.nav-button a:hover{
  background-color: rgba(11, 2, 35, 0.1) ;
  border-radius: 8px;
  padding: 5px;

}
.display-none {
  display: none;
}
/* .background: rgba(11, 2, 35, 0.1); */
.contact-icon:hover{
  background: rgba(11, 2, 35, 0.1);
}
.none{
  display: none;
}